.brands {

   &__item {
      // flex: 0 0 196px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
         max-height: 37px;
         max-width: 100%;
      }

      path {
         transition: fill 0.2s;
      }

      &:hover {
         path {
            fill: var(--color-violet);
         }
      }
   }

   @media (max-width:1024px) {
      .swiper-slide-active {
         path {
            fill: var(--color-violet);
         }
      }
   }
}