.catalog-nav-wrapper {
   position: absolute;
   top: 100%;
   right: 110vw;
   z-index: 12;
   width: 100vw;
   height: calc(100vh - (var(--height-header-nav, 49px) + 1px));
   transition: right 0.3s;
   pointer-events: none;

   @media (min-width:768px) {
      display: none;
      right: 0;
      max-height: calc(100vh - (var(--height-header, 49) + var(--height-header-nav, 69px) + 12px));
      width: 100%;
      height: auto;

      .js-tab-content {
         height: auto;
      }
   }

   &__container {
      @media (max-width:767.98px) {
         padding: 0;
      }
   }

   &__body {
      position: relative;
      z-index: 12;
      max-height: 100%;
      background-color: var(--color-gray-light);
      pointer-events: all;

      @media (max-width:767.98px) {
         padding-left: 20px;
         padding-right: 20px;
      }

      @media (min-width:768px) {
         padding-top: 18px;
         padding-bottom: 20px;
         display: inline-flex;
         min-width: 230px;
         gap: 24px;
      }

      @media (min-width:1024px) {
         @include sizeMaxMinPc (min-width, 306, 250);
      }

      @media (min-width:1344px) {
         min-width: 306px;
      }
   }
}

.header-nav .catalog-nav-wrapper__body {
   overflow-y: auto;
   max-height: calc(100vh - var(--height-header-nav));
}

.open.catalog-nav-wrapper {
   right: 0;

   @media (min-width:768px) {
      display: block;
   }
}

.js-index .main .catalog-nav-wrapper {
   top: 0;
   right: 0;
   display: none;

   @media (min-width:1024px) {
      display: block;
   }

   @media (max-width:1023.98px) {
      height: 100%;

      &__container,
      &__body {
         height: 100%;
         max-height: 100%;
         box-shadow: none;
      }
   }
}

.catalog-nav {
   padding-top: 20px;
   flex: 1 0 230px;

   @media (min-width:768px) {
      padding-top: 0;
   }

   @media (min-width:1024px) {
      @include sizeMaxMinPcFlex (0, 0, 306, 250);
   }

   @media (min-width:1344px) {
      flex: 0 0 306px;
   }

   &__button {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      width: 100%;
      font-size: 16px;
      transition: all 0.2s;

      @media (min-width:768px) and (max-width:1023.98px) {
         font-size: 14;
      }
   }

   &__button-text {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
         @media (min-width:768px) {
            display: none;
         }
      }
   }

   &__button {
      text-align: start;
      border-top: 1px solid var(--color-gray);

      @media (min-width:768px) {
         border-color: var(--color-gray-light);
      }

      path {
         transition: all 0.2s;
      }

      svg {
         @media (max-width:767.98px) {
            transform: rotate(90deg);
         }
      }
   }

   .js-tab-body.active &__button {
      svg {
         @media (max-width:767.98px) {
            transform: rotate(0deg);
         }
      }
   }

   &__button:hover {
      color: var(--color-white);
      background-color: var(--color-violet);

      path {
         stroke: var(--color-white)
      }
   }

   &__content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      height: 100%;
      width: 100%;
      display: none;

      @media (min-width:1024px) {
         display: block;
      }
   }

   &__search {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      margin-bottom: 30px;
      display: none;
      border: 1px solid var(--color-gray);
      border-radius: 6px;

      @media (min-width:768px) {
         display: block;
      }

      input {
         padding-top: 10px;
         padding-bottom: 10px;
         width: 100%;
         min-height: 48px;
         font-weight: 500;
         font-size: 14px;
      }
   }

   &__search-button {
      position: absolute;
      top: 10px;
      right: 10px;

      img {
         width: 28px;
         max-width: 28px;
         max-height: 28px;
      }
   }
}