.compare {

   &__message {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 10px;
      background-color: var(--color-gray-light);
      font-size: 14px;

      @media (min-width:768px) {
         font-size: 16px;
      }

      img {
         margin-right: 10px;
      }

      a {
         color: var(--color-violet);
         font-size: inherit;
      }
   }

   &__body {
      --column-width: 45%;

      @media (min-width:768px) {
         @include sizeMaxMinTablet (--column-width, 416, 348)
      }

      @media (min-width:1344px) {
         --column-width: 416px;
      }
   }

   &__card {
      padding-bottom: 20px;
      overflow: hidden;
      touch-action: none;
      touch-action: pan-y;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (min-width:768px) {
         flex-direction: row;
      }
   }

   &__card-item {
      flex: 1 1 auto;
      border: 1px solid var(--color-gray);
      border-radius: 10px;
      padding: 20px 10px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @media (min-width:768px) {
         flex: 0 0 var(--column-width);
      }

      @media (min-width:1024px) {
         padding: 20px;
      }
   }

   &__card-group {
      margin-bottom: 20px;

      display: flex;
      gap: 24px;

      @media (min-width:768px) {
         margin-bottom: 0;
      }
   }

   &__card-image {
      flex: 0 0 50px;

      img {
         width: 100%;
         height: 50px;
         min-height: 50px;
      }
   }

   &__data {
      flex: 1 1 auto;
   }

   &__name {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 125%;
   }

   &__block {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      @media (min-width:768px) {
         margin-bottom: 30px;
         flex-direction: row;
         gap: 10px;
      }

      button {
         font-size: 14px;
         width: 100%;

         .text-short {
            display: none;
         }

         @media (min-width:768px) {
            width: auto;
         }

         @media (min-width:768px) and (max-width: 1023.98px) {
            .text-full {
               display: none;
            }

            .text-short {
               display: block;
            }
         }
      }
   }

   &__price {
      font-weight: 700;
      font-size: 24px;
      color: var(--color-violet);
      white-space: nowrap;
   }

   &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      @media (min-width:768px) {
         justify-content: space-between;
         flex-direction: row;
      }
   }

   &__buttons-group {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      button {
         min-height: 40px;
      }

      @media (min-width:768px) {
         display: none;
      }
   }

   &__status-shell {
      flex: 1 1 auto;
   }

   &__status {
      border-radius: 2px;
      padding: 6px 20px;
      min-height: 40px;
      display: inline-flex;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      color: var(--color-white);
   }

   &__description {
      margin-left: -20px;
      margin-right: -20px;
      padding: 20px 20px;
      border-radius: 10px;
      background-color: var(--color-gray-light);

      @media (min-width:768px) {
         margin-left: 0;
         margin-right: 0;
         padding: 20px 30px;
      }
   }

   &__description-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: var(--color-violet);
   }


   &__description-body {
      padding-bottom: 20px;

      &>* {
         min-height: 45px;

         &:not(:last-child) {
            margin-bottom: 4px;
         }
      }
   }

   &__description-parameter {
      padding: 10px;
      display: flex;
      align-items: center;
      font-weight: 700;
      line-height: 156%;
   }

   &__description-header,
   &__description-value {
      position: relative;
      display: flex;
      align-items: center;
      gap: 24px;
      line-height: 156%;
      background-color: var(--color-white);
      overflow: hidden;

      span {
         position: relative;
         z-index: 1;
         padding: 10px;
         flex: 0 0 var(--column-width);
      }
   }

   &__description-header {
      font-weight: 700;
      background-color: transparent;

      @media (min-width:768px) {
         display: none;
      }
   }
}