.favourites {

   &__body {
      margin-bottom: 30px;

      &>*:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   &__sum {
      text-align: center;
      font-weight: 700;
      font-size: 20px;

      @media (min-width:768px) {
         text-align: end;
      }
   }

   &__sum-number {
      white-space: nowrap;
      color: var(--color-violet);
   }
}