.favourites {

   &__body {
      margin-bottom: 30px;

      &>*:not(:last-child) {
         margin-bottom: 30px;
      }

      .card {
         padding: 20px 10px;
         border: 1px solid var(--color-gray);
         border-radius: 10px;
         overflow: hidden;
      }

      @media (max-width:767.98px) {
         .card__button {
            width: 100%;

            button {
               min-height: 34px;
               width: 100%;
            }
         }
      }
   }

   .card__footer {
      gap: 10px;
   }

   &__sum {
      text-align: center;
      font-weight: 700;
      font-size: 20px;

      @media (min-width:768px) {
         text-align: end;
      }
   }

   &__sum-number {
      white-space: nowrap;
      color: var(--color-violet);
   }
}