.header-nav {
   position: sticky;
   top: 0px;
   z-index: 20;
   background-color: var(--color-black2);

   .catalog-nav-wrapper__body {
      background-color: var(--color-white);
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.11);
   }

   .catalog-nav-content__container {
      background-color: var(--color-white);
   }

   &.open-search {
      &::after {
         content: '';
         position: fixed;
         top: 0;
         left: 0;
         z-index: -1;
         width: 100%;
         height: 100%;
         background-color: var(--color-black-08);
      }
   }


   @media (max-width:767.98px) {
      order: 1;
   }

   &__body {
      position: relative;
      padding-top: 7px;
      padding-bottom: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      min-height: 46px;

      @media (min-width:1024px) {
         min-height: 69px;
      }
   }

   &__burger {
      width: 30px;

      @media (min-width:1024px) {
         display: none;
      }
   }

   &__catalog {
      position: relative;
   }

   &__catalog-button {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 2px;
      padding: 7px 15px;
      width: 100%;
      min-height: 30px;
      background-color: var(--color-green);
      color: var(--color-white);
      font-weight: 600;
      font-size: 12px;

      @media (min-width:768px) {
         text-transform: uppercase;
         padding: 8px 16px;
         border-radius: 4px;

      }

      @media (min-width:768px) and (max-width:1023.98px) {
         display: none;
      }

      @media (max-width:1023.98px) {

         span,
         img {
            display: none;
         }
      }

      @media (min-width:1024px) {
         min-height: 40px;
         font-size: 18px;
      }
   }

   &__catalog-button-tablet {
      display: none;

      @media (min-width:768px) and (max-width:1023.98px) {
         display: block;
      }
   }

   ._pc .js-index &__catalog-button {
      pointer-events: none;
   }

   .js-index .page-scroll &__catalog-button {
      pointer-events: all;
   }

   &__links {
      align-self: stretch;
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 16px;

      @media (min-width:1100px) {
         gap: 30px;
      }

      &>li {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: center;

         @media (min-width:768px) {
            align-items: stretch;
         }
      }

      a,
      button {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 10px;
         height: 100%;
         font-size: 16px;
         color: var(--color-white);

         @media (max-width:1343.98px) and (min-width:768px) {
            @include sizeMaxMinTablet (font-size, 16, 14);
         }
      }
   }

   &__search {
      position: absolute;
      margin-left: -20px;
      top: 100%;
      left: 0;
      z-index: 10;
      width: 100vw;
      /*   height: 100%; */
      display: none;

      @media (max-width:767.98px) {
         background-color: var(--color-white);
      }

      @media (min-width:768px) {
         position: relative;
         flex: 1 1 auto;
         margin-left: 0;
         display: block;
         border: none;
         width: auto;
      }

      input {
         flex: 1 1 auto;
         display: block;
         padding: 7px 10px 8px;
         font-weight: 600;
         font-size: 12px;
         color: var(--color-black);
         border-radius: 2px;
         border: 1px solid var(--color-black);
         background-color: var(--color-white);
         height: 30px;


         @media (min-width:768px) {
            padding: 4px 36px 4px 10px;
            border-radius: 6px;
            font-size: 14px;
            width: 100%;
            min-height: 26px;
            border: 1px solid var(--color-gray);
         }

         @media (min-width:1024px) {
            padding: 10px 45px 10px 10px;
            min-height: 40px;
         }

         &::-webkit-input-placeholder {
            font-size: 12px;

            @media (min-width:1024px) {
               font-size: 14px;
            }
         }

         &::-moz-placeholder {
            font-size: 12px;

            @media (min-width:1024px) {
               font-size: 14px;
            }
         }

         &::placeholder {
            font-size: 12px;

            @media (min-width:1024px) {
               font-size: 14px;
            }
         }
      }
   }

   &__search-block {
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      @media (min-width:768px) {
         padding: 0;
         width: 100%;
      }
   }

   &__search-submit {

      @media (max-width:767.98px) {
         display: flex;
         align-items: center;
         border-radius: 2px;
         padding: 7px 16px 8px 16px;
         width: 69px;
         height: 30px;
         background-color: var(--color-violet);
      }

      @media (min-width:768px) {
         position: absolute;
         top: 50%;
         right: 7px;
         z-index: 10;
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
         max-width: 17px;
         width: 17px;
      }

      @media (min-width:1024px) {
         right: 10px;
         width: 29px;
         max-width: 29px;
      }

      span {
         font-weight: 600;
         font-size: 12px;
         color: var(--color-white);

         @media (min-width:768px) {
            display: none;
         }
      }

      img {
         display: none;
      }

      img {

         @media (min-width:768px) {
            display: block;
            width: 16px;
         }

         @media (min-width:1024px) {
            width: 21px;
         }
      }
   }

   &__office {
      display: flex;
      align-items: center;
      gap: 10px;

      @media (max-width:767.98px) {
         width: 100%;
         justify-content: space-between;
      }

      li {
         flex: 0 0 30px;
      }

      a,
      button {
         position: relative;
         display: inline-block;
         width: 100%;
         border-radius: 20px;
         transition: background-color 0.2s;

         img {
            min-width: 30px;
            max-height: 30px;
            height: 30px;
         }

         ._pc &:hover {
            background-color: var(--color-green);
         }

         ._pc &[data-message] {
            &::before {
               content: attr(data-message);
               padding: 10px 10px 10px 10px;
               position: absolute;
               bottom: calc(100% + 16px);
               right: 50%;
               z-index: 20;
               transform: translateX(50%);
               background-color: var(--color-white);
               box-shadow: 0 4px 10px 0 rgba(34, 34, 34, 0.1);
               border-radius: 4px;
               max-width: 250px;
               width: max-content;
               font-size: 12px;
               color: var(--color-black);
               display: none;
            }

            &::after {
               content: '';
               position: absolute;
               bottom: 100%;
               left: 50%;
               z-index: 20;
               transform: translateX(-50%);
               width: 31px;
               height: 16px;
               border-top: 16px solid var(--color-white);
               border-left: 15px solid transparent;
               border-right: 15px solid transparent;
               display: none;
            }

            &:hover::after,
            &:hover::before {
               display: block;
            }
         }
      }
   }

   &__info {

      @media (min-width:768px) {
         position: absolute;
         top: 100%;
         left: 50%;
         transform: translateX(-50%);
         z-index: 10;
         max-width: 289px;
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.35);
         background: var(--color-white);

         a:hover {
            color: var(--color-white);
            background-color: var(--color-violet);
         }
      }

      &>ol {
         padding-top: 20px;
         padding-bottom: 20px;

         @media (min-width:768px) {
            padding-top: 0;
            padding-bottom: 0;
         }
      }

      a,
      button {
         display: block;
         padding: 10px;
         text-align: center;
         color: var(--color-black);
         transition: background-color 0.2s, color 0.2s;

         @media (min-width:768px) {
            text-align: start;
         }
      }

   }
}

li.header-nav__open-catalog {
   @media (min-width:768px) {
      display: none;
   }
}

.favourites-menu,
.compare-menu {
   @media (max-width:767.98px) {
      display: none;
   }
}

.home-menu,
.fone-menu,
.burger-menu {
   @media (min-width:768px) {
      display: none;
   }
}

button.burger-menu__close {
   display: none;
}

.catalog-nav-open,
.burger-active {
   button.burger-menu__close {
      display: block;
   }

   button.burger-menu__open {
      display: none;
   }
}

.basket-menu {
   @media (max-width:767.98px) {
      order: 7;
   }
}

.log-menu {
   @media (max-width:767.98px) {
      order: 6;
   }
}

.page-scroll {
   .header-nav__office .header-nav__button-search {
      @media (min-width:768px) {
         display: inline-block;
      }
   }

   .header-nav__menu-tab {
      display: none;
   }

   .header-nav__search {
      display: none;
   }

   &.open-search {
      .header-nav__button-search {
         display: none;
      }

      .header-nav__links {
         display: none;
      }

      .header-nav__search {
         display: flex;
      }
   }
}

.header-nav__office .header-nav__button-search {
   @media (max-width:767.98px) {
      order: 5;
   }

   @media (min-width:768px) {
      display: none;
   }
}

button.button-search-close {
   display: none;
}

.open-search {
   .header-nav__search {
      display: block;
   }

   button.button-search-close {
      display: block;
   }

   button.button-search-open {
      display: none;
   }

}