.log {
   padding-top: 60px;
   padding-bottom: 60px;
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   height: 100%;

   &__container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100%;
   }

   &__body {
      max-width: 636px;
   }

   &__title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      line-height: 125%;

      @media (min-width:1024px) {
         font-size: 50px;
      }
   }

   &__subscribe {
      margin-bottom: 20px;
      font-size: 16px;
      text-align: center;
      line-height: 125%;
      max-width: 333px;

      @media (min-width:768px) {
         font-size: 20px;
      }

      @media (min-width:1024px) {
         margin-bottom: 30px;
         font-size: 30px;
         max-width: 100%;
      }
   }

   &__button {
      padding-top: 30px;
      text-align: center;

      a,
      button {
         display: inline-block;
         width: 100%;

         @media (min-width:768px) {
            max-width: 415px;
         }
      }
   }

   &__buttons {
      margin-top: 20px;
      padding-top: 12px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 333px;
      border-top: 1px solid var(--color-gray);

      @media (min-width:768px) {
         display: none;
      }

      svg rect {
         fill: var(--color-gray);
      }

      svg path {
         stroke: var(--color-gray);
      }
   }
}