.main-screen {
   position: relative;
   color: var(--color-white);
   padding-bottom: 40px;

   @media (min-width:768px) {
      padding-top: 20px;
   }

   @media (min-width:1024px) {
      padding-bottom: 80px;
   }

   &__container {}

   &__body {
      display: flex;
      gap: 25px;
   }

   &__nav {
      position: relative;
      display: none;

      @media (min-width:1024px) {
         display: block;
         @include sizeMaxMinPcFlex (0, 0, 306, 250);
      }

      @media (min-width:1344px) {
         flex: 0 0 306px;
      }
   }

   &__content {
      position: relative;
      width: 100%;

      @media (min-width:1024px) {
         @include sizeMaxMinPcFlex (0, 0, 965, 701);
      }

      @media (min-width:1344px) {
         flex: 0 0 965px;
      }

   }


   &__card {
      padding: 20px 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 4px;
      min-height: 60vw;
      overflow: hidden;

      @media (min-width:768px) {
         padding: 20px 33px;
         min-height: 50vw;
      }

      @media (min-width:1024px) {
         padding: 20px 40px;
         min-height: 440px;

      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__title {
      margin-bottom: 15px;
      max-width: 420px;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;

      @media (min-width:768px) {
         font-size: 30px;
      }

      @media (min-width:1024px) {
         margin-bottom: 20px;
         font-size: 50px;
      }
   }

   &__text {
      margin-bottom: 25px;
      max-width: 420px;
      font-size: 12px;
      line-height: 115%;

      @media (min-width:768px) {
         font-size: 14px;
      }

      @media (min-width:1024px) {
         margin-bottom: 20px;
         font-size: 20px;
      }
   }

   &__button {
      margin-bottom: 9px;
      width: 200px;
      height: 50px;

      @media (min-width:768px) {
         margin-bottom: 80px;
      }

      @media (min-width:1024px) {
         margin-bottom: 60px;
      }
   }

   .swiper {
      overflow: hidden;
   }

   .swiper-brand-main-pagination,
   .swiper-main-pagination {
      padding: 10px 20px 20px;
      width: 100%;
      z-index: 2;
      justify-content: center;
   }

   .brand__image-body {
      img {
         top: 0;
      }
   }
}

.swiper-main {
   position: relative;
   margin-bottom: 20px;

   @media (min-width:1024px) {
      @include sizeMaxMinPc (max-width, 965, 701);
   }

   @media (min-width:1344px) {
      max-width: 965px;
   }

   ._touch &,
   ._pc &:hover {

      .swiper-main-next,
      .swiper-main-prev {
         @media (min-width:1024px) {
            opacity: 1;
            pointer-events: all;
         }
      }
   }
}

.swiper-brand-main-prev,
.swiper-brand-main-next,
.swiper-main-next,
.swiper-main-prev {
   opacity: 0;
   pointer-events: none;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 5;
   transition: opacity 0.2s;
}

.swiper-brand-main-next,
.swiper-main-next {
   right: 20px;
}

.swiper-brand-main-prev,
.swiper-main-prev {
   left: 20px;
}