.menu-mobile {
   position: fixed;
   top: calc(var(--height-header, 49px) + var(--height-header-nav, 69) - var(--ignore-header-hight, 0));
   left: -120%;
   z-index: 10;
   width: 100%;
   height: 100%;
   border-top: 1px solid var(--color-gray);
   transition: left 0.3s;
   box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);

   @media (min-width:768px) {
      display: none;
      pointer-events: none;
   }

   &__container {
      background-color: var(--color-white);

   }

   &__body {
      padding-top: 20px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: calc(100vh - var(--height-header) - var(--height-header-nav) + var(--ignore-header-hight));
      overflow-y: auto;
   }

   &__close {
      width: 30px;

      @media (min-width:768px) {
         display: none;
      }
   }

   .header-nav__catalog {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }

   .header-nav__catalog-button {
      width: max-content;
   }

   .header-nav__links {
      padding-top: 10px;
      padding-bottom: 10px;
      flex-direction: column;
      gap: 0;

      &>li {
         padding-top: 20px;
         padding-bottom: 20px;
         width: 100%;
         border-bottom: 1px solid var(--color-gray);
      }

      a,
      button {
         text-align: start;
         justify-content: space-between;
         font-size: 16px;
         color: var(--color-black);
      }
   }

   .header__contacts {
      flex-direction: row;
   }

   .header__contacts-number {
      text-align: start;
   }

   .header__build {
      width: 100%;

      button {
         min-height: 52px;
         font-size: 16px;
      }
   }
}