.news {

   &__title {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__body {
      display: flex;
   }

   &__card {
      &>*:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   &__card-image {
      display: block;
      flex: 1 1 20%;
   }

   &__card-image-shell {
      position: relative;
      display: block;
      padding-bottom: 65.36%;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__card-title {
      margin-bottom: 5px;

      a {
         line-height: 115%;
         font-weight: 700;
         font-size: 20px;
         color: var(--color-black);
         transition: color 0.2s;

         &:hover {
            color: var(--color-green);
         }
      }
   }

   &__card-text {
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 115%;

      @media (min-width:768px) {
         font-size: 14px;
      }

      @media (min-width:1024px) {
         font-size: 16px;
      }
   }

   &__card-link {
      color: var(--color-violet);
   }

   .swiper-news-pagination {
      margin-top: 40px;
      justify-content: center;

      @media (min-width:1024px) {
         display: none;
      }
   }
}

.news-page {
   &__body {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;

      @media (min-width:768px) {
         grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width:1024px) {
         grid-template-columns: 1fr 1fr 1fr 1fr;
      }
   }
}

.naws-item {

   &__text {
      margin-bottom: 20px;
      font-size: 14px;

      @media (min-width:768px) {
         font-size: 16px;
      }
   }

   &__theme {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      @media (min-width:1024px) {
         margin-bottom: 40px;
      }

      span {
         padding: 12px 20px;
         font-size: 16px;
         border-radius: 4px;
         background-color: var(--color-gray-light);
      }
   }

   &__video {
      position: relative;
      padding-bottom: 52.42%;

      iframe {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
}