:root {
   --color-violet: #9604CF;
   --color-white: #ffffff;
   --color-black-dark: #000000;
   --color-black: #282828;
   --color-green: #45CC2E;
   --color-gray: #C5C7C6;
   --color-gray-light: #F6F6F6;
   --color-gray-platinum: #E7E7E7;
   --color-orange: #F5CB36;
   --color-blue: #178DF9;
   --color-red: #FF0000;
}

.hidden {
   display: none;
}

.body-overflow {
   overflow: hidden;
}

[class*="__container"] {
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto;
   width: 100%;
   // 1296 + 24 + 24 = 1344
   max-width: 1344px;

   @media (min-width:768px) {
      padding-left: 24px;
      padding-right: 24px;
   }
}

.margin-section {
   margin-bottom: 40px;

   @media (min-width:1024px) {
      margin-bottom: 80px;
   }
}

.border-bottom {
   border-bottom: 1px solid var(--color-gray);
}

.page-title {
   margin-bottom: 20px;
}

.title {
   font-size: 30px;
   font-weight: 700;
   line-height: 125%;

   @media (min-width:1024px) {
      font-size: 50px;
   }
}

.hover-inner-menu {
   text-align: center;
   transition: background-color 0.2s, color 0.2s;

   @media (min-width:768px) {
      text-align: start;
   }
}

.hover-inner-menu:hover {
   color: var(--color-white);
   background-color: var(--color-violet);
}

.hover-underline {
   span {
      color: var(--color-violet);
      position: relative;
   }

   span::before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 2;
      width: 0;
      height: 1px;
      background-color: var(--color-violet);
      transition: width 0.2s;
   }

   &:hover span::before {
      width: 100%;
   }
}

.scroll::-webkit-scrollbar {
   width: 4px;
   height: 10px;
   border-radius: 5px;
}

.scroll::-webkit-scrollbar-track {
   border-radius: 5px;
   background-color: var(--color-gray);
}

.scroll::-webkit-scrollbar-thumb {
   background-color: var(--color-green);
   background-clip: content-box;
   border-radius: 5px;
}

.imitation-scrollbar {
   display: none;
   --width-scroll: 100px;
   position: relative;
   width: 100%;
   height: 10px;
   background-color: var(--color-gray);
   border-radius: 5px;

   @media (min-width:768px) {
      display: block;
   }

   span {
      position: absolute;
      top: 0;
      left: var(--offset-scroll, 0px);
      height: 100%;
      width: var(--width-scroll);
      background-color: var(--color-green);
      border-radius: 5px;
   }

   &#scroll-card {
      margin-bottom: 60px;
   }
}

input[type="number"] {
   -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0px;
}

input,
textarea {
   &::-webkit-input-placeholder {
      color: var(--color-gray);
   }

   &::-moz-placeholder {
      color: var(--color-gray);
   }

   &::placeholder {
      color: var(--color-gray);
   }
}

.orange {
   background-color: var(--color-orange);
}

.green {
   background-color: var(--color-green);
}

.violet {
   background-color: var(--color-violet);
}

.burger-active {
   overflow: hidden;
}

.burger-active .menu-mobile {
   left: 0;
}

.js-menu-tab-body {
   height: 0;
   overflow: hidden;
   pointer-events: none;
   transition: height 0.3s;
}

.js-menu-tab {
   position: relative;
   z-index: 1;
   margin-top: -7px;
   margin-bottom: -7px;
}

.js-menu-tab.active {
   z-index: 2;
}

.js-menu-tab.active .js-menu-tab-body {
   pointer-events: all;
}

.js-menu-tab-button img {
   transition: transform 0.3s;
}

.js-menu-tab.active .js-menu-tab-button img {
   transform: rotate3d(1, 0, 0, 180deg);
}

.js-tab-content {
   height: 0px;
   overflow: hidden;
   transition: height 0.3s;
}

.js-modal-hidden {
   display: none;
}

.js-modal-visible {
   display: block;
}

.js-orders-tab,
.js-method-tab {
   display: none;

   &.active {
      display: block;
   }
}

.button-green {
   padding: 14px 16px;
   min-height: 48px;
   color: var(--color-white);
   background-color: var(--color-green);
   border-radius: 2px;
}

.button-transparent {
   padding: 14px 16px;
   min-height: 48px;
   color: var(--color-green);
   border: 1px solid var(--color-green);
   border-radius: 2px;

   &:hover {
      color: var(--color-white);
      background-color: var(--color-green);
   }
}

.button-transparent,
.button-green {
   text-align: center;
   transition: all 0.2s;
}

.button-green:disabled,
.button-transparent:disabled {
   color: var(--color-gray) !important;
   border: 1px solid var(--color-gray) !important;
   background-color: var(--color-white) !important;
   pointer-events: none;
}

.button-transition {
   padding-top: 30px;
   display: flex;
   justify-content: center;

   @media (min-width:1024px) {
      display: none;
   }
}

.link-transition {
   display: flex;
   align-items: center;
   gap: 10px;
   color: var(--color-violet);
}

.swiper-wrapper {
   position: relative;
   z-index: 1;
   display: flex;
   transition-property: transform;

   .swiper-slide {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
      transition-property: transform;
      // display: block;
      touch-action: pan-y;
   }
}

.button {

   &__delete,
   &__compare,
   &__favourites {
      display: flex;
      align-items: center;
      gap: 10px;
      white-space: nowrap;

      rect,
      path {
         transition: fill 0.2s, stroke 0.2s;
      }
   }

   &__delete,
   &__compare {

      &:hover,
      &.active {

         rect,
         path {
            fill: var(--color-green);
         }
      }
   }

   &__favourites {

      &:hover,
      &.active {
         path {
            stroke: var(--color-green);
            fill: var(--color-green);
         }
      }
   }
}

.show-image {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 20;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);

   &__container {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__image_body {
      padding-left: 50px;
      padding-right: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: max-content;
      width: max-content;
   }

   &__close {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background-color: var(--color-white);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
         width: 14px;
      }
   }

   img {
      max-height: 95vh;
      max-width: calc(100vw - 120px);
      object-fit: contain;
   }
}

[class*="copyrights-pane"] {
   display: none;
}

.search-result {
   display: none;
   padding: 10px;
   position: absolute;
   top: 100%;
   right: -20px;
   z-index: 10;
   width: 100vw;

   background-color: var(--color-white);
   border: 1px solid var(--color-gray);

   .page-scroll & {
      width: 100%;
   }

   @media (min-width:768px) {
      border-radius: 6px;
      width: 100%;
      right: 0;
   }

   @media (min-width:1344px) {
      width: 965px;


   }

   @media (min-width:1024px) and (max-width:1343.98px) {
      @include sizeMaxMinPc(width, 965, 701);
   }

   ol {
      padding-top: 10px;
   }

   li {
      padding-bottom: 10px;

      a {
         color: var(--color-black);
         font-weight: 700;

         span {
            color: var(--color-green);
         }
      }
   }

   &__button {
      text-align: center;

      a {
         display: inline-block;
         margin-top: 20px;
         margin-bottom: 10px;
         padding: 10px 16px;
         min-height: 45px;
         border-radius: 4px;
         font-weight: 600;
         font-size: 20px;

         @media (min-width:768px) and (max-width:1023.98px) {
            min-height: 40px;
            font-size: 16px;
         }
      }
   }
}

.js-view-grid {
   display: flex;

   .block-view {
      display: block;

      @media (min-width:768px) {
         display: none;
      }
   }

   .grid-view {
      display: none;

      @media (min-width:768px) {
         display: block;
      }
   }
}

.js-view-block {
   display: none;

   @media (min-width:768px) {
      display: flex;
   }
}

.js-view-swiper {
   display: flex;

   @media (min-width:768px) {
      display: none;
   }
}

.view-swiper-pagination.swiper-pagination {
   display: none;
}

.view-swiper+.view-swiper-pagination.swiper-pagination {
   display: flex;
   padding-top: 40px;
   padding-bottom: 20px;
   justify-content: center;
}