.search {

   &__container {}

   &__body {}

   &__sort {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (min-width:768px) {
         align-items: flex-end;
         flex-direction: row;
      }

      .button-green {
         padding: 10px 16px;
         font-size: 20px;
         min-height: 45px;
      }
   }

   &__sort-option {
      flex: 1 1 10%;
   }

   &__button-search {
      border-radius: 4px;
   }

   &__sort-option-title {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 136%;
      color: var(--color-gray);
   }

   &__sort-option-value {
      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      border-radius: 2px;
      border: 1px solid var(--color-gray);
      font-size: 14px;
      color: var(--color-black);

      button {
         display: flex;
         align-items: center;
      }
   }

   &__keywords {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;

      span {
         padding: 10px 20px;
         display: flex;
         align-items: center;
         gap: 10px;
         min-height: 40px;
         font-size: 16px;
         background-color: var(--color-gray-light);
         border-radius: 4px;

         button {
            display: flex;
            align-items: center;

            img {
               width: 8px;
            }
         }
      }
   }

   &__header {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px;

      @media (min-width:768px) {
         align-items: center;

      }

      @media (min-width:1024px) {
         align-items: flex-end;

         .sort__button {
            span {
               text-decoration: underline;
            }
         }
      }
   }

   &__quantity-product {
      flex: 0 0 100%;

      @media (min-width:768px) {
         margin-right: 40px;
         flex: 0 1 auto;
      }

      @media (min-width:1024px) {
         margin-right: 0;
         flex: 0 0 307px;
      }
   }

   &__content {
      padding-top: 8px;
      display: flex;
      gap: 24px;
      border-top: 1px solid var(--color-gray);
   }

   &__categories-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 250%;
      color: var(--color-violet);
   }


   &__list {
      flex: 1 1 auto;
   }

   /*    &__shell {

      &.view-grid {
         padding-left: 27px;
         padding-right: 27px;
         display: grid;
         grid-template-columns: 1fr;
         gap: 20px;

         @media (min-width:768px) {
            padding-left: 0;
            padding-right: 0;
            grid-template-columns: 1fr 1fr 1fr;
         }
      }

      &.view-block {
         display: flex;
         flex-direction: column;
         gap: 20px;

         .card {
            border-radius: 10px;
            border: 1px solid var(--color-gray);
            overflow: hidden;
         }

         .card__status {
            padding: 6px;
            font-size: 12px;
            height: 27px;
         }
      }
   } */
}

/* .swiper-search {
   max-width: calc(100vw - 40px);

   .view-swiper.search__shell {
      padding: 0;
      margin: 0;
      display: flex;
      gap: 0;

   }
} */