.search {

   &__container {}

   &__body {}

   &__sort {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (min-width:768px) {
         align-items: flex-end;
         flex-direction: row;
      }

      .button-green {
         padding: 10px 16px;
         font-size: 20px;
         min-height: 45px;
      }
   }

   &__sort-option {
      flex: 1 1 10%;
   }

   &__sort-option-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 136%;
      color: var(--color-gray);
   }

   &__sort-option-value {

      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      border-radius: 2px;
      border: 1px solid var(--color-gray);
      font-size: 14px;
      color: var(--color-black);

      button {
         display: flex;
         align-items: center;
      }
   }

   &__keywords {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;

      span {
         padding: 10px 20px;
         display: flex;
         align-items: center;
         gap: 10px;
         min-height: 40px;
         font-size: 16px;
         background-color: var(--color-gray-light);
         border-radius: 4px;

         button {
            display: flex;
            align-items: center;

            img {
               width: 8px;
            }
         }
      }
   }

   &__header {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (min-width:768px) {

         align-items: flex-end;
      }

      @media (max-width:1023.98px) {
         justify-content: space-between;
      }
   }

   &__quantity-product {
      @media (min-width:1024px) {
         flex: 0 0 307px;
      }
   }

   &__view {
      display: flex;
      gap: 10px;

      @media (min-width:1024px) {
         flex: 1 1 auto;
      }

      button {
         svg {
            width: 23px;
            height: 23px;
         }

         &.active {
            svg {
               rect {
                  fill: var(--color-violet)
               }
            }
         }
      }
   }

   &__content {
      display: flex;
      gap: 24px;
   }

   &__categories-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 250%;
      color: var(--color-violet);
   }


   &__list {
      flex: 1 1 auto;
   }

   &__shell {

      &.view-grid {
         display: grid;
         grid-template-columns: 1fr;
         gap: 20px;

         @media (min-width:768px) {
            grid-template-columns: 1fr 1fr 1fr;
         }
      }
   }

}