.seo {

   &__body {
      padding: 20px 26px;
      border-radius: 10px;
      background-color: var(--color-gray-light);

      &>li {

         &:not(:last-child) {
            margin-bottom: 10px;
         }

         ol {
            margin-top: 10px;

            li {
               margin-left: 25px;
               list-style: disc;
            }
         }
      }
   }
}