table.specifications {
   width: 100%;

   thead {
      text-align: start;
      font-size: 16px;
      font-weight: 700;
   }

   thead {
      th {
         padding: 10px;
         text-align: start;
         background-color: var(--color-gray);
      }
   }

   tbody {
      td {
         padding: 10px;
         font-size: 18px;
         font-weight: 500;

         &:nth-child(2n) {
            width: 32%;
         }
      }
   }
}