@import "fonts";
@import "normalize";
@import "mixin";
@import "rules";

body {
   font-family: "Mulish";
   color: var(--color-black);
}

body.gallery-madal-open {
   overflow: hidden;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   position: relative;
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   overflow: hidden;

   @media (max-width:767.98px) {
      order: 3;
   }
}



@import "header";
@import "header-nav";
@import "nav-mobile";
@import "catalog-nav";
@import "catalog-nav-content";
@import "modal";
@import "card";
@import "info";
@import "poster";
@import "news";
@import "seo";
@import "brand";
@import "bread_crumbs";
@import "pagination";
@import "filter";
@import "check";
@import "catalog";
@import "sort";
@import "main_screen";
@import "product";
@import "swiper_pagination";
@import "specifications";
@import "basket";
@import "order_registration";
@import "check";
@import "page_info";
@import "brands";
@import "favourites";
@import "information";
@import "compare";
@import "stocks";
@import "contacts";
@import "about_us";
@import "log";
@import "enter_code";
@import "accound";
@import "search";
@import "view";





@import "footer";