.view {
   display: flex;
   gap: 10px;

   button {
      align-items: flex-end;

      svg {
         width: 23px;
         height: 23px;
      }

      &.active {
         svg {
            rect {
               fill: var(--color-violet)
            }
         }
      }
   }
}